In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("E:/SUMO/RUIXIAO/newChattanooganet/SUMO_simulation/Daily_Trips_out.csv",sep=';')
data.head()

,vehicle_color,vehicle_depart,vehicle_departLane,vehicle_departSpeed,vehicle_fromTaz,vehicle_id,vehicle_toTaz,vehicle_type,route_edges
0,"1,0,0",0.27,best,max,43,trip_prefix0,8,passenger,22689 22656 22545 22799 22782 17464 -22780 -22...
1,"1,0,0",0.33,best,max,717,trip_prefix1,21,passenger,32276 -32241 -32244 -32246 32247 -17313 -17311...
2,"1,0,0",0.64,best,max,77,trip_prefix2,545,passenger,35874 35675 -35675 -35874 -35873 33470 33471 3...
3,"1,0,0",1.01,best,max,376,trip_prefix3,711,passenger,11823 -11823 -11822 -11821 -11825 -11824 -1182...
4,"1,0,0",1.58,best,max,874,trip_prefix4,386,passenger,-7949 -11882 -11881 -8021 -11955 -12220 -1385 ...

In [4]:
len(data)

1469534

In [6]:
#scale down the background trips by 20%
dt=data.sample(frac = 0.8) 
dt.head()

,vehicle_color,vehicle_depart,vehicle_departLane,vehicle_departSpeed,vehicle_fromTaz,vehicle_id,vehicle_toTaz,vehicle_type,route_edges
1266884,"1,0,0",67085.66,best,max,164,trip_prefix1270443,778,passenger,-36543 -36521 36369 36588 36627 36346 36628 23...
70457,"1,0,0",13763.04,best,max,236,trip_prefix70655,347,passenger,-1486 -9561 -9588 2454 2483 -1481 70 -602 -200...
137541,"1,0,0",18715.02,best,max,443,trip_prefix137931,808,passenger,-6466 -1253 -1254 -1256 -1258 -1259 -563 -564 ...
1096050,"1,0,0",60955.58,best,max,396,trip_prefix1099146,267,passenger,13879 -13879 -13878 -1200 -1201 -1202 -1204 -1...
683311,"1,0,0",44443.68,best,max,782,trip_prefix685271,8,passenger,22504 22505 15706 15707 15700 15701 15702 1569...

In [7]:
len(dt)

1175627

In [8]:
dt=dt.sort_values(['vehicle_depart'])
dt=dt.reset_index(drop=True)
dt.head()

,vehicle_color,vehicle_depart,vehicle_departLane,vehicle_departSpeed,vehicle_fromTaz,vehicle_id,vehicle_toTaz,vehicle_type,route_edges
0,"1,0,0",0.27,best,max,43,trip_prefix0,8,passenger,22689 22656 22545 22799 22782 17464 -22780 -22...
1,"1,0,0",0.33,best,max,717,trip_prefix1,21,passenger,32276 -32241 -32244 -32246 32247 -17313 -17311...
2,"1,0,0",1.58,best,max,874,trip_prefix4,386,passenger,-7949 -11882 -11881 -8021 -11955 -12220 -1385 ...
3,"1,0,0",2.92,best,max,119,trip_prefix5,267,passenger,10877 13401 13402 13355 13356 14921 14922 1491...
4,"1,0,0",3.10,best,max,390,trip_prefix6,502,passenger,-4709 4709 -4703 4702 -4696 -4701 -4704 -4710 ...

In [9]:
dt.to_csv("E:/SUMO/RUIXIAO/newChattanooganet/SUMO_simulation/Daily_Trips_reduced80.csv",sep=';')